@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.vans {
   padding-inline: px-to-rem(22);
   background-color: #FFF7ED;
   max-width: px-to-rem(1400);
   margin-inline: auto;
}

@media (min-width: px-to-rem(340)) {
   .vans {
      padding-inline: px-to-rem(27);
   }
}

.vans__title {
   font-size: clamp(1.6rem, 1.403rem + 0.795vw, 2rem);
   font-weight: 700;
   color: #161616;
   margin-block: px-to-rem(54.23) px-to-rem(35);
}

.vans__filter {
   margin-block-end: px-to-rem(55.69);
}

.vans__list {
   list-style: none;
   display: flex;
   align-items: center;
   gap: px-to-rem(15);
}

.vans__li {
   font-size: px-to-rem(16);
   font-weight: 500;
}

.vans__type-link-simple {
   position: relative;
   text-decoration: none;
   border-radius: px-to-rem(5);
   color: #4D4D4D;
   padding: px-to-rem(6);
   background-color: #FFEAD0;
   transition: background-color .5s ease-in-out;

   &:hover {
      color: #FFEAD0;
      background-color: #E17654;
      transition: background-color .5s ease-in-out;
   }
}

.vans__type-link-rugged {
   position: relative;
   text-decoration: none;
   border-radius: px-to-rem(5);
   color: #4D4D4D;
   padding: px-to-rem(6);
   background-color: #FFEAD0;   
   transition: background-color .5s ease-in-out;

   &:hover {
      background-color: #115E59;
      color: #FFEAD0;      
      transition: background-color .5s ease-in-out;
   }
}

.vans__type-link-luxury {
   position: relative;
   text-decoration: none;
   border-radius: px-to-rem(5);
   color: #4D4D4D;
   padding: px-to-rem(6);
   background-color: #FFEAD0;
   transition: background-color .5s ease-in-out;

   &:hover {
      background-color: #161616;
      color: #FFEAD0;
      transition: background-color .5s ease-in-out;
   }
}

.active-vans-link-simple {
   background-color: #E17654;
   color: #FFEAD0;
}

.active-vans-link-rugged {
   background-color: #115E59;
   color: #FFEAD0;
}

.active-vans-link-luxury {
   background-color: #161616;
   color: #FFEAD0;
}

// MEDIA QUERIE
@media (min-width:px-to-rem(768)) {
   .vans__list {
      gap: px-to-rem(20);
   }

   .vans__li>a {
      padding: px-to-rem(6) px-to-rem(25);
   }
}

// ------------------------------------------

.vans__van {
   margin-block-end: px-to-rem(70);
}

.vans__link {
   text-decoration: none;
}

.vans__img {
   margin-block-end: px-to-rem(10);
   border-radius: px-to-rem(5);
   width: 100%;
}

.vans__clear {
   font-size: px-to-rem(16);
   font-weight: 500;
   color: #4D4D4D;
   text-decoration: underline;
   text-decoration-color: #4D4D4D;
   cursor: pointer;
   border: none;
   background-color: #FFF7ED;
   pointer-events: none;
   margin-block-start: px-to-rem(40);
   opacity: 0;
   transition: opacity .4s ease-in-out;
}

@media (min-width: px-to-rem(390)) {

   .vans__filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: px-to-rem(40);
      margin-block-end: px-to-rem(55.69);
   }

   .vans__clear {
      margin-block-start: 0;
   }
}

.vans__btn-visible {
   opacity: 1;
   pointer-events: auto;
   transition: opacity .4s ease-in-out;
}

.vans__info {
   display: flex;
   justify-content: space-between;
   font-size: px-to-rem(20);
   font-weight: 600;
   color: #161616;
}

.vans__price-span {
   font-size: px-to-rem(14);
   font-weight: 500;
}

.vans__type {
   display: inline-flex;
   place-items: center;
   color: #FFEAD0;
   padding: px-to-rem(3) px-to-rem(14);
   border-radius: px-to-rem(5);
   text-decoration: none;
   font-size: px-to-rem(16);
   height: px-to-rem(33.89);
   width: px-to-rem(85.71);
   text-transform: capitalize;
}

.simple {
   background-color: #E17654;
}

.rugged {
   background-color: #115E59;
}

.luxury {
   background-color: #161616;
}

@media (min-width:px-to-rem(768)) {
   .vans__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(35.88);
   }

   .vans__van {
      margin-block-end: px-to-rem(0);
   }

   .vans__van:nth-last-child(2):nth-child(odd) {
      margin-block-end: px-to-rem(83.23);
   }

   .vans__van:nth-last-child(1) {
      margin-block-end: px-to-rem(83.23);
   }

}