@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.about {
   background-color: #FFF7ED;
}

.about__img {
   display: block;
   object-fit: contain;
   width: 100%;
   max-width: px-to-rem(1400);
   margin-inline: auto;
}

.about__wrapper {
   padding-inline: px-to-rem(27);
   max-width: px-to-rem(1400);
   margin-inline: auto;
}

.about__title {
   margin-block: px-to-rem(48.84) px-to-rem(31.33);
   color: #161616;
   font-weight: 700;
   font-size: clamp(1.4rem, 1.028rem + 1.111vw, 2rem);
}

.about__description {
   margin-block-end: px-to-rem(20);
}

.about__description2 {
   margin-block-end: px-to-rem(55);
}

.about__destination {
   background-color: #FFCC8D;
   border-radius: px-to-rem(5);
   padding: px-to-rem(32) px-to-rem(37) 0;
   margin-block-end: px-to-rem(53);
}

.about__explore {
   font-weight: 700;
   font-size: clamp(1.125rem, 1.014rem + 0.556vw, 1.5rem);
   margin-block-end: px-to-rem(10);
}

.about__btn {
   color: #fff;
   background-color: #161616;
   font-weight: 700;
   font-size: px-to-rem(15.95);
   padding: px-to-rem(12) px-to-rem(22);
   border: none;
   border-radius: px-to-rem(10);
   margin-block: px-to-rem(15) px-to-rem(32);
   cursor: pointer;
}
