@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.van {
   padding-inline: px-to-rem(25);
   margin-inline: auto;
   max-width: px-to-rem(700);
}

.van__link {
   display: flex;
   align-items: center;
   gap: px-to-rem(11);
   color: #201F1D;
   font-size: px-to-rem(15.95);
   font-weight: 500;
}

.van__img {
   display: block;
   width: 100%;
   max-width: px-to-rem(600);
   border-radius: px-to-rem(5);
   margin-block: px-to-rem(40.79) px-to-rem(50.38);
}

.van__type {
   display: grid;
   place-items: center;
   color: #FFEAD0;
   font-size: px-to-rem(16);
   font-weight: 600;
   border-radius: px-to-rem(6);
   text-align: center;
   width: px-to-rem(85.71);
   height: px-to-rem(33.89);
   margin-block-end: px-to-rem(20.38);
   text-transform: capitalize;
}

.simple {
   background-color: #E17654;
}

.rugged {
   background-color: #115E59;
}

.luxury {
   background-color: #161616;
}

.van__name {
   color: #161616;
   font-size: px-to-rem(32);
   font-weight: 700;
   margin-block-end: px-to-rem(15);
}

.van__cost {
   display: flex;
   align-items: center;
}

.van__price {
   color: #161616;
   font-size: px-to-rem(24);
   font-weight: 700;
}

.van__daily {
   color: #161616;
   font-size: px-to-rem(20);
   font-weight: 500;
}

.van__description {
   color: #161616;
   font-size: px-to-rem(16);
   font-weight: 500;
   margin-block: px-to-rem(15) px-to-rem(21.64);
   max-width: 58ch;
}

.van__rent {
   display: grid;
   place-items: center;
   text-decoration: none;
   height: px-to-rem(49.83);
   width: 93%;
   border-radius: px-to-rem(5);
   color: #FFFFFF;
   background-color: #FF8C38;
   font-size: px-to-rem(18);
   font-weight: 700;
   margin-block-end: px-to-rem(84.71);
   text-align: center;
}
