@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.header {
   background-color: #FFF7ED;
   height: px-to-rem(111.62);
   display: grid;
   place-items: center;
}

@media (min-width:px-to-rem(375)) {
   .header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-inline: px-to-rem(20);
      gap: px-to-rem(16);
      max-width: px-to-rem(1400);
   }
}

@media (min-width:px-to-rem(340)) {
   .header__wrapper {
      padding-inline: px-to-rem(26);
   }
}

.header__title {
   font-weight: 900;
   align-self: center;

   &>a>img {
      width: px-to-rem(144.51);
      height: px-to-rem(41);
   }
}

.header__list {
   display: flex;
   align-items: center;
   gap: px-to-rem(16);
   list-style: none;
}

.header__link {
   position: relative;
   display: inline-block;
   text-decoration: none;
   color: black;
   font-size: px-to-rem(16);

   &::after {
      content: '';
      position: absolute;
      height: px-to-rem(2);
      background-color: black;
      width: 100%;
      left: 0;
      bottom: -5px;
      transform: scale(0);
      transform-origin: left;
      transition: transform .5s ease-in-out;
   }

   &:hover::after {
      transform: scale(1);
      transition: transform .5s ease-in-out;

   }
}

.active-link {
   font-weight: 700;

   &::after {
      transform: scale(1);
   }
}
