@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.footer {
   background-color: #252525;
   width: 100%;
   height: px-to-rem(74.75);
   display: grid;
   place-items: center;
}

.fixed-footer {
   position: fixed;
   bottom: 0;
}

.footer__title {
   font-weight: 500;
   font-size: px-to-rem(14);
   color: #AAA;
}
